{% extends 'base.html.twig' %}

{% block title 'Weloge Limmobilier tout compris'%}

{% block body %}
	<div class="jumbotron text-center">
		<div class="container">
			<h1>Weloge L'immobilier tout compris</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum impedit mollitia excepturi repudiandae accusamus cumque assumenda, ipsam iure, eaque ea maxime possimus perspiciatis fugit ut quasi facilis totam laboriosam sint?</p>
		</div>
	</div>

{% endblock %}
