{% extends 'base.html.twig' %}

{% block title 'Voir tous nos biens'%}


{% block body %}
	<div class="container">
		<h1>Voir tous nos biens</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum impedit mollitia excepturi repudiandae accusamus cumque assumenda, ipsam iure, eaque ea maxime possimus perspiciatis fugit ut quasi facilis totam laboriosam sint?</p>
	</div>

{% endblock %}
